Repository Four-Lights-NL/mapper-plugin-anonymize: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, oxlint --fix, prettier --write --parser markdown, prettier --write --parser json

chore: move from `jest` to `vitest`
  .gitignore
  .husky/pre-commit
  package-lock.json
  package.json
  tests/integration/locale.test.ts
  tests/integration/smoke.test.ts
  tests/jest.config.ts
  tests/package.json
  tests/tsconfig.json
  tests/unit/anonymize.objects.test.ts
  tests/unit/anonymize.test.ts
  tests/unit/methods/fake.test.ts
  tests/unit/methods/redact.test.ts
  tests/unit/utils/makeSeed.test.ts
  tests/unit/utils/map.test.ts
  tests/unit/utils/withClassification.test.ts
  tsconfig.json
  vitest.config.ts
Due: prettier --write, oxlint --fix

chore: update/simplify playground running
  playground/package-lock.json
  playground/package.json
  playground/src/examples/03-with-plugin-map-function.ts
  playground/tsconfig.json
Due: prettier --write, oxlint --fix

chore: use provided seed in all playground examples
  playground/src/examples/03-with-plugin-map-function.ts
Due: prettier --write, oxlint --fix

chore: release v1.4.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write --parser markdown

chore(deps): update devdependency oxlint to ^0.3.4
  package-lock.json
  package.json
Due: none

chore: cleanup dependencies
  package-lock.json
  package.json
  tests/tsconfig.json
Due: none

chore(deps): update all non-major dependencies
  package-lock.json
  package.json
  playground/package-lock.json
  playground/package.json
Due: none

chore: remove test run from husky
  .husky/pre-commit
Due: none

chore: update README
  README.md
Due: prettier --write --parser markdown

chore: use spaces instead of tabs
  .commitlintrc
  .husky/install.mjs
  .lintstagedrc
  .prettierrc
  .release-it.json
  README.md
  playground/src/examples/01-using-with-classification.ts
  playground/src/examples/02-with-per-property-customizations.ts
  playground/src/examples/03-with-plugin-map-function.ts
  playground/src/examples/input.ts
  playground/src/index.ts
  playground/tsconfig.json
  renovate.json
  src/index.ts
  src/lib/anonymize.ts
  src/lib/methods/fake.ts
  src/lib/methods/redact.ts
  src/lib/types.ts
  src/lib/utils/getMethodOptions.ts
  src/lib/utils/getMethods.ts
  src/lib/utils/isType.ts
  src/lib/utils/makeSeed.ts
  src/lib/utils/map.ts
  src/lib/utils/unwrapValue.ts
  src/lib/utils/withClassification.ts
  tests/tsconfig.json
  tests/unit/anonymize.objects.test.ts
  tests/unit/anonymize.test.ts
  tests/unit/methods/fake.test.ts
  tests/unit/methods/redact.test.ts
  tests/unit/utils/makeSeed.test.ts
  tests/unit/utils/map.test.ts
  tests/unit/utils/withClassification.test.ts
  tsconfig.json
  tsup.config.ts
  vitest.config.ts
Due: prettier --write, oxlint --fix, prettier --write --parser markdown, prettier --write --parser json

chore(deps): update devdependency tsx to ^4.10.5
  playground/package-lock.json
  playground/package.json
Due: none

chore(deps): update devdependency release-it to ^17.3.0
  package-lock.json
  package.json
Due: none

chore(deps): update all non-major dependencies
  package-lock.json
  package.json
Due: none

feat: allow control over redact function
  package-lock.json
  package.json
  src/lib/anonymize.ts
  src/lib/methods/fake.ts
  src/lib/methods/redact.ts
  src/lib/types.ts
  src/lib/utils/withClassification.ts
  tests/unit/anonymize.objects.test.ts
  tests/unit/methods/redact.test.ts
Due: prettier --write, oxlint --fix

chore: release v1.5.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write --parser markdown

chore(deps): update dependency date-fns to v4
  playground/package-lock.json
  playground/package.json
Due: none

chore(deps): update dependency @faker-js/faker to v9
  package-lock.json
  package.json
Due: none

chore(deps): update devdependency vite-tsconfig-paths to v5
  package-lock.json
  package.json
Due: none

chore(deps): update devdependency vitest to v2
  package-lock.json
  package.json
Due: none

chore(deps): update devdependency @release-it/conventional-changelog to v9
  package-lock.json
  package.json
Due: none

chore(deps): update npm to v11
  package.json
Due: none

chore(deps): update devdependency @release-it/conventional-changelog to v10
  package.json
Due: none

chore(deps): update devdependency release-it to v18
  package.json
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,mjs}
  oxlint --fix: any of: *.{ts,tsx,js,jsx,mjs}
  prettier --write --parser markdown: any of: *.{md,mdx}
  prettier --write --parser json: any of: .*rc
