Repository Four-Lights-NL/mapper-plugin-anonymize: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, oxlint --fix, prettier --write --parser markdown, prettier --write --parser json

chore: configure husky
  .husky/pre-commit
  jest.config.ts
  package-lock.json
  package.json
Due: prettier --write, oxlint --fix, prettier --write --parser json

chore: update github actions to not use husky
  .github/workflows/prerelease.yaml
  .github/workflows/release.yaml
Due: none

chore: update prettier configuration
  .lintstagedrc
  .prettierrc
Due: none

chore: apply prettier formatting
  .commitlintrc
  .husky/install.mjs
  .lintstagedrc
  .prettierrc
Due: none

chore: set explicit parsers for prettier
  .prettierrc
Due: none

chore: update husky linting
  .lintstagedrc
  .prettierrc
Due: none

chore: release v1.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write --parser markdown, prettier --write --parser json

feat: handle inline data taxonomy when using `withClassification`
  src/lib/types.ts
  src/lib/utils/withClassification.test.ts
  src/lib/utils/withClassification.ts
Due: prettier --write, oxlint --fix

feat: add helper `map` function to quickly use the plugin
  src/index.ts
  src/lib/utils/map.test.ts
  src/lib/utils/map.ts
Due: prettier --write, oxlint --fix

chore: update `README` for new helpers
  README.md
Due: prettier --write --parser markdown

chore: update dev deps to latest versions
  package-lock.json
  package.json
Due: prettier --write --parser json

feat: update `@fourlights/mapper` to `1.2.0`
  package-lock.json
  package.json
  src/lib/methods/fake.ts
  src/lib/methods/redact.ts
Due: prettier --write, oxlint --fix, prettier --write --parser json

chore: release v1.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write --parser markdown, prettier --write --parser json

chore: use named exports everywhere
  src/index.ts
  src/lib/anonymize.objects.test.ts
  src/lib/anonymize.test.ts
  src/lib/anonymize.ts
  src/lib/methods/fake.test.ts
  src/lib/methods/fake.ts
  src/lib/methods/redact.test.ts
  src/lib/methods/redact.ts
  src/lib/utils/getMethodOptions.ts
  src/lib/utils/getMethods.ts
  src/lib/utils/makeSeed.test.ts
  src/lib/utils/makeSeed.ts
  src/lib/utils/map.test.ts
  src/lib/utils/map.ts
  src/lib/utils/unwrapValue.ts
  src/lib/utils/withClassification.test.ts
  src/lib/utils/withClassification.ts
Due: prettier --write, oxlint --fix

chore: output with code splitting, minification and source-maps
  tsup.config.ts
Due: prettier --write, oxlint --fix

chore: update playground to use named exports
  playground/package.json
  playground/src/examples/01-using-with-classification.ts
  playground/src/examples/02-with-per-property-customizations.ts
  playground/src/examples/index.ts
  playground/src/index.ts
Due: prettier --write, oxlint --fix, prettier --write --parser json

chore: update playground with example on plugin map helper
  playground/src/examples/03-with-plugin-map-function.ts
  playground/src/examples/index.ts
  playground/src/index.ts
Due: prettier --write, oxlint --fix

chore: use `birthdate` instead of `birthday` in examples
  README.md
  playground/src/examples/02-with-per-property-customizations.ts
  playground/src/examples/03-with-plugin-map-function.ts
  playground/src/examples/input.ts
Due: prettier --write, oxlint --fix, prettier --write --parser markdown

feat: add `birthdate` to faker
  src/lib/methods/fake.ts
Due: prettier --write, oxlint --fix

chore: exclude `package.json` from formatting rules
  .lintstagedrc
  .prettierignore
  .prettierrc
Due: none

feat: target `@fourlights/mapper` v`1.3.0`
  package-lock.json
  package.json
  playground/package.json
Due: prettier --write --parser json

Update README.md
  README.md
Due: prettier --write --parser markdown

chore: release v1.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write --parser markdown, prettier --write --parser json

feat: allow specifying faker value function
  src/lib/anonymize.test.ts
  src/lib/anonymize.ts
  src/lib/methods/fake.test.ts
  src/lib/methods/fake.ts
  src/lib/methods/redact.ts
  src/lib/types.ts
  src/lib/utils/getMethodOptions.ts
  src/lib/utils/map.ts
  src/lib/utils/withClassification.ts
Due: prettier --write, oxlint --fix

chore: use `@leeoniya/ufuzzy` instead of `fuzzysort`
  package-lock.json
  package.json
  src/lib/methods/fake.test.ts
  src/lib/methods/fake.ts
  src/lib/methods/redact.ts
Due: prettier --write, oxlint --fix, prettier --write --parser json

chore: add renovate.json
  renovate.json
Due: prettier --write --parser json

chore: add autofix workflow
  .github/workflows/autofix.yaml
  package-lock.json
  package.json
Due: prettier --write --parser json

chore: apply automated fixes
  renovate.json
Due: prettier --write --parser json

chore(deps): update actions/github-script action to v7
  .github/workflows/autofix.yaml
Due: none

chore(deps): update all non-major dependencies
  package-lock.json
  package.json
Due: prettier --write --parser json

chore: update type on `unwrapValue`
  src/lib/utils/unwrapValue.ts
Due: prettier --write, oxlint --fix

chore: move tests to separate folder + add integration test
  tests/integration/smoke.test.ts
  tests/jest.config.ts
  tests/package-lock.json
  tests/package.json
  tests/tsconfig.json
  tests/unit/anonymize.objects.test.ts
  tests/unit/anonymize.test.ts
  tests/unit/methods/fake.test.ts
  tests/unit/methods/redact.test.ts
  tests/unit/utils/makeSeed.test.ts
  tests/unit/utils/map.test.ts
  tests/unit/utils/withClassification.test.ts
Due: prettier --write, oxlint --fix, prettier --write --parser json

chore: update typings and use utils from `@fourlights/mapper`
  package.json
  playground/package.json
  src/index.ts
  src/lib/methods/fake.ts
  src/lib/methods/redact.ts
  src/lib/utils/isType.ts
  src/lib/utils/map.ts
  src/lib/utils/withClassification.ts
  tests/tsconfig.json
Due: prettier --write, oxlint --fix, prettier --write --parser json

chore: update examples
  playground/src/examples/01-using-with-classification.ts
  playground/src/examples/02-with-per-property-customizations.ts
  playground/src/examples/03-with-plugin-map-function.ts
Due: prettier --write, oxlint --fix

chore: release v1.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write --parser markdown, prettier --write --parser json

feat: allow specifying faker locale when using plugin
  src/lib/methods/fake.ts
  src/lib/types.ts
  tests/unit/methods/fake.test.ts
Due: prettier --write, oxlint --fix

chore: do not save tests package-lock.json
  .gitignore
  tests/package-lock.json
Due: prettier --write --parser json

chore: release v1.4.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write --parser markdown, prettier --write --parser json

fix: actually forward supplied locale to faker method
  src/lib/anonymize.ts
  tests/integration/locale.test.ts
  tests/unit/anonymize.test.ts
Due: prettier --write, oxlint --fix

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx}
  oxlint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write --parser markdown: any of: *.{md,mdx}
  prettier --write --parser json: any of: *.json
